doctype html
html
  head
    title=title
    meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    script(src="bower_components/webcomponentsjs/webcomponents.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="import", href="bower_components/font-roboto/roboto.html")
    block import
    block script

  block content