//
   Created by Johnny on 2015/1/31.
extends layout

block import
    link(rel='stylesheet', href='stylesheets/manager.css')
    link(rel="import", href="bower_components/core-header-panel/core-header-panel.html")
    link(rel="import", href="bower_components/core-toolbar/core-toolbar.html")
    link(rel="import", href="bower_components/paper-input/paper-input-decorator.html")

block content
    body(fullbleed layout vertical)
        core-header-panel(flex mode="seamed")
            core-toolbar #{title}
            div(class="content")
                - if (!everyauth.loggedIn)
                    form(action="login", method="POST")
                        paper-input-decorator(label="Username", floatingLabel)
                            input(is="core-input", name="login")
                        paper-input-decorator(label="Password", floatingLabel)
                            input(is="core-input", type="password", name="password")
                        div(id="bottom", layout horizontal)
                            input(id="submit-button", is="core-input", type="submit", value="Login")
                            - if ("#{errors}".length !== 0)
                                div(id="error", self-center) #{errors}
                - else
                    paper-input-decorator(label="Your Name")
                        input(is="core-input")

                    a(href='/logout') Logout